<%= form_with model: @user, url: user_registration_path, class: 'form-signup', local: true do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">新規登録する</h1>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <div class="form-text-wrap">
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
      <%= f.text_field :nickname, class:"input-default", id: "nickname", placeholder:"例)そのポン", maxlength:"10" %>
    </div>
  </div>

  <div class="field">
    <label for="inputEmail" class="sr-only">メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

