<div class="container">
  <div class="row">
    <h2><%= @user.nickname %></h2>
    <p><%= @user.introduction %></p>
  </div>
  <div class="row">
    <%# <p><%= link_to "プロフィール編集", edit_user_path(current_user.id)</p> %> %>
    <p><span><%= @user.following_ids.count %></span><%= link_to "フォロー", follows_user_path(@user.id) %></p>
    <p><span><%= @user.follower_ids.count %></span><%= link_to "フォロワー", followers_user_path(@user.id) %></p>
  </div>
  <div class="row">
    <h2>いいねした記事</h2>
    <% @like_posts.each do |post| %>
      <p><%= link_to post.title, post_path(post.id) %></p>
    <% end %>
  </div>
  <div class="row d-flex flex-column m-auto">
    <h2>投稿した記事</h2>
    <% @posts.each do |post| %>
      <div class="col bg-light mb-5 p-2">
        <div>
          <h1><%= link_to post.title, post_path(post.id), method: :get %></h1>
        </div>  
        <div class="">
          <p><%= post.text %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
